[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipreqs = "*"
click = "*"
requests = "*"
openpyxl = "*"
jupyterlab = "*"
pandas = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"
pretty_errors = "*"

[requires]
python_version = "3.9"
