[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipreqs = "*"
click = "*"
requests = "*"
openpyxl = "*"
pandas = "*"
scipy = "*"
sympy = "*"
jupyterlab = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"
pretty_errors = "*"

[requires]
#python_version = "3.6"
#python_version = "3.7"
#python_version = "3.8"
python_version = "3.9"
#python_version = "3.10"
